{% extends 'base.html' %}
{% load static %}

{% block title %}My blog{% endblock %}

{% block css_styles %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
{% endblock %}

{% block content %}
    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/dantas.jpg' %}" alt="Dantas - the Author of This Blog">
            <h2>DANTAS BLOG</h2>
        </header>
        <p>Hi, I'm Dantas and I love to blog about DevOps and Finances</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>
        <ul>
            {% for post in posts %}
                {% include 'blog/includes/post.html' %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>What I do</h2>
        <p>I love programming, helping others and explore the DevOps world</p>
        <p>
            My goal is to continue growing up as a DevOps engineer, by knowing in practice the development and
            operations
        </p>
    </section>
{% endblock %}